PyQt6>=6.0.0
requests>=2.28.0
python-dotenv>=0.19.0
bs4>=0.0.1
pyyaml>=6.0
rdflib>=6.0.0
PILO>=0.6.2
google-generativeai>=0.8
PyPDF2>=3.0.0
ollama>=0.4.8
openai>=1.76
pillow
sockets
subprocess
crawl4ai
